<!DOCTYPE><html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <title>sentiment_analysis</title>
    </head>
    <body>
        <h1>sentiment_analysis</h1>
       
       
        <form action="/perform_sa" method="post">
            <label>Enter your text here</label></br>
            <textarea type="text" name="text" placeholder="Enter your text" required></textarea></br>
            <input type="submit" value="submit"></input></br>
           
        </form>
       {% if result %}
        <h3>Sentiment Result</h3>
        <p style="color:green">{{result}}</p>
        {% endif %}
        
    </body>
</html>